<nav class="fixed top-0 w-full z-50">
  <div class="bg-gray-800/70">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center text-white font-bold text-xl md:text-3xl">
            <a href="./#" class="text-white hover:text-amber-100 focus:text-white transition duration-300">
            保土ケ谷宿場まつり
            </a>
          </div>
          <div class="hidden sm:ml-6 sm:block menu">
            <div class="flex space-x-4">
              <a href="./#access" class="rounded-md px-3 py-2 text-sm font-medium">アクセス</a>
              <a href="./#character" class="rounded-md px-3 py-2 text-sm font-medium">キャラクター</a>
              <a href="./#event" class="rounded-md px-3 py-2 text-sm font-medium">イベント情報</a>
              <a href="./#sponsors" class="rounded-md px-3 py-2 text-sm font-medium">協賛</a>
              <a href="./#sns" class="rounded-md px-3 py-2 text-sm font-medium">SNS</a>
              <a href="./#gallery" class="rounded-md px-3 py-2 text-sm font-medium">ギャラリー</a>
              <a href="./volunteer.html" class="rounded-md px-3 py-2 text-sm font-medium bg-slate-700">ボランティア募集</a>
            </div>
          </div>
          <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button type="button" class="relative right-0 inline-flex items-center justify-center rounded-md p-2 bg-opacity-70 text-white hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">メニュー</span>
              <!-- Icon when menu is closed. -->
              <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" id="hamburger-open">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <!-- Icon when menu is open. -->
              <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" id="hamburger-close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden opacity-0 transition-opacity duration-300 ease-in-out menu bg-gray-800/75" id="mobile-menu" aria-expanded="false">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a href="./#access" class="block rounded-md px-3 py-2 text-base font-medium" aria-current="page">アクセス</a>
      <a href="./#character" class="block rounded-md px-3 py-2 text-base font-medium">キャラクター</a>
      <a href="./#event" class="block rounded-md px-3 py-2 text-base font-medium">イベント情報</a>
      <a href="./#sponsors" class="block rounded-md px-3 py-2 text-base font-medium">協賛</a>
      <a href="./#sns" class="block rounded-md px-3 py-2 text-base font-medium">SNS</a>
      <a href="./#gallery" class="block rounded-md px-3 py-2 text-base font-medium">ギャラリー</a>
      <a href="volunteer.html" class="block rounded-md px-3 py-2 text-base font-medium">ボランティア募集</a>
    </div>
  </div>
</nav>
