<!doctype html>
<html lang="ja_JP">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <%- include('partials/ga.ejs') %>
    <link rel="stylesheet" href="assets/scss/tailwind.scss">
    <title>ボランティア募集 | 保土ケ谷宿場まつり</title>
    <script type="module" src="./src/main.js"></script>
</head>

<body>

  <%- include('partials/navbar.ejs') %>

  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container-left px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">ボランティア募集</span>
            <span class="mt-1 text-gray-500 text-sm">2024年08月19日</span>
          </div>
          <div class="md:flex-grow">
            <p class="mb-4 leading-relaxed">実行委員会ではおまつりを手伝ってくれるボランティアを募集しています。
              機材の搬入搬出、ブースの設営、安全管理や衛生管理などの見回り、ごみの交換を行う当日ボランティアを募集しています。
            </p>
            <ul class="ml-5">
              <li class="mb-3">少し余裕ができて地域の活動に参加してみようかなと思っている。</li>
              <li class="mb-3">普通に暮らしている人達が協力しあう姿に興味がある。</li>
              <li class="mb-8">保土ケ谷の子供たちや保土ケ谷宿場まつりにかかわる多くの人たちの笑顔が見たい。</li>
            </ul>
            そんな方は是非、ボランティアに応募してみてください。
          </div>
      </div>
      <!-- 募集要項 -->
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">募集要項</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">
          <dl class="list-none">
            <dt>日付</dt>
            <dd class="mb-3">2024年10月13日（日）、14日（月）<br />
              ※ 両日またはいずれか一方となります。</dd>
            <dt>時間</dt>
            <dd class="mb-3">13日 8:00 ～ 18:30、14日 9:00 ～ 19:30<br />
              ※ 上記時間帯での調整可能です。</dd>
            <dt>作業内容</dt>
            <dd>機材の搬入・搬出・撤去、ブース設営、会場の安全管理・衛生管理<br />
              ※ ゴミ交換、ポンプ式水道の水交換、来客の道案内なども含まれます。
            </dd>
          </dl>
          </p>
        </div>
      </div>

      <!-- 応募条件 -->
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">応募条件</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">
            <ul class="list-disc">
              <li>未成年・高校生の応募はできません。</li>
            </ul>
          </p>
        </div>
      </div>

      <!-- 注意事項 -->
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">注意事項</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">
          <ul class="list-disc">
            <li>交通費や作業服、弁当等の支給はありません。</li>
            <li>実行委員会が不適切と判断した場合は、ボランティア参加をお断りする場合があります。</li>
          </ul>
          </p>
        </div>
      </div>

      <!-- 応募方法 -->
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">応募方法</span>
        </div>
        <div class="md:flex-grow">
          下記のアドレス宛に電子メールでご応募ください。<br />
          応募メールには「氏名（必須）」、「質問」をご記載ください。
          <div class="mt-3">
            <a class="text-indigo-500 inline-flex items-center"
              href="mailto:volunteer@syukuba.net?subject=ボランティア募集">volunteer@syukuba.net</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <%- include('partials/footer.ejs') %>
</body>

</html>
